@import 'ext/solarized-light';

pre.highlight, code {
    font-family: 'Consolas', Menlo, monospace;
    line-height: 1.4em;
    tab-size: 4;
    background-color: #f4f4f4;
}

pre.lineno {
    padding-right: 0.5em;
}

div.highlighter-rouge, figure.highlight {
    width: 100vw;
    position: relative;
    right: 150px;
    margin: 40px 0;

    //margin-left: -50vw;
    //left: 50%;
    //margin-left: calc((100vw - 100%) / -2);
}

.highlighter-rouge, .highlight {
    background-color: #f4f4f4;
}

div.highlight, figure>pre {
    padding: 30px 150px;

    //margin: 0 auto;
    //max-width: 720px;
}

@media screen and (max-width: $mobileWidth) {
    div.highlighter-rouge, figure.highlight {
        right: 15px;
        //margin-left: 0;
    }
    div.highlight, figure>pre {
        padding: 30px 15px;
    }
}

@media screen and (max-width: $tabletWidth) and (min-width: $mobileWidth) {
    div.highlighter-rouge, figure.highlight {
        right: 40px;
        //margin-left: 0;
    }
    div.highlight, figure>pre {
        padding: 30px 40px;
    }
}

@media screen and (max-width: $desktopWidth) and (min-width: $tabletWidth) {
    div.highlighter-rouge, figure.highlight {
        right: 80px;
        //margin-left: 0;
    }
    div.highlight, figure>pre {
        padding: 30px 80px;
    }
}

@media screen and (min-width: $desktopWidth) and (max-width: $maxSupportedWidth) {
    div.highlighter-rouge, figure.highlight {
        right: 100px;
        //margin-left: 0;
    }
    div.highlight, figure>pre {
        padding: 30px 100px;
    }
}
